:host {
  display: block;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .name {
    margin-bottom: 5px;
  }
  .edit {
    text-decoration: none;
    color: #000;
    background: #eee;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 5px 10px;
  }
}


.price {
  margin-bottom: 50px;
}

.description {
  width: 100%;
  font-style: italic;
  font-size: 18px;
}
