<div class="flex-row">
  <app-product-search (search)="searchProduct($event)" />
  <a class="add-product-btn" [routerLink]="['/products/add']">Add Product</a>
</div>
@for (product of productList$ | async; track $index) {
  <a [routerLink]="['/products', product.id]" class="product" appHighlightProduct>
    <h3 class="name">{{ product.name }}</h3>
    <p class="description">{{ product.description }}</p>
    <p class="price">{{ product.price | currencyFormat }}</p>
  </a>
} @empty {
<h3>{{ errormsg ?? 'No Products Found.'}}</h3>
}
