:host {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  background-color: #eee;
  color: #333;
  transition: .3s ease-in-out;
  text-decoration: none;
}
