:host {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

.product {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  background-color: #eee;
  color: #333;
  transition: .3s ease-in-out;
  text-decoration: none;
  .description {
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
