:host {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  justify-content: center;
}

.flex-row {
  display: flex;
  width: 100%;
  gap: 10px;
  .add-product-btn {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    background: #eee;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 5px 15px;
    text-transform: capitalize;
    font-size: 18px;
    transition: .5s ease-in-out;
    &:hover {
      background: #888;
      color: #fff;
    }
  }
}

.product {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  background-color: #eee;
  color: #333;
  transition: .5s ease-in-out;
  text-decoration: none;
  .description {
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

